:root {
  --primary-color: #188796;
  --secondary-color: #d7c1d2;
  --box-shadow: 0 5px 15px rgba(18, 17, 17, 0.4);
}

body {
  margin: 70px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 90px;
  opacity: 0.8;
}

h2 {
  font-size: 46px;
  opacity: 0.85;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-buttons {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-buttons a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.home {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-text {
  display: flex;
  margin: 30px 0;
}

.about-text p {
  margin: 10px;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}
